CompileFlags:
  CompilationDatabase: /home/grokepeer/Documents/GitHub/PulsarOS/MDK-ARM/out/Pulsar/Pulsar
  Add:
    - -include
    - /home/grokepeer/Documents/GitHub/PulsarOS/MDK-ARM/out/Pulsar/Pulsar/compile_macros.h
